@using Microsoft.Extensions.Primitives
@model AspNetCoreOpeniddictPlus.Core.Dtos.AuthorizationServiceResult

<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm mt-28">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        
            <h1 class="text-2xl font-medium">Authorization</h1>

            <p class="font-medium">Do you want to grant <strong>@Model.ApplicationName</strong> access to your data? (scopes requested: @Model.Scope)</p>

            <form asp-controller="Authorization" asp-action="Authorize" method="post">
                @* Flow the request parameters so they can be received by the Accept/Reject actions: *@
                @foreach (var parameter in Context.Request.HasFormContentType ?
                              (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query)
                {
                    <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                }

                <input
                    class="px-4 py-2 text-white bg-green-500 hover:bg-green-600 font-medium rounded-lg shadow-md transition-all duration-200"
                    name="submit.Accept"
                    type="submit"
                    value="Yes"
                />
                <input
                    class="px-4 py-2 text-white bg-red-500 hover:bg-red-600 font-medium rounded-lg shadow-md transition-all duration-200"
                    name="submit.Deny"
                    type="submit"
                    value="No"
                />

            </form>
    </div>
</div>
