@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="border-red-500 px-3 py-4 text-center">
    <p class="text-danger">You do not have access to this resource.</p>
</header>
