@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm mt-28">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <section>
            <partial name="_LogoPartial"/>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-red-600 mb-4" role="alert"></div>
                <div class="mb-6">
                    <label asp-for="Input.Email" class="block text-sm font-medium text-gray-700">Your email
                        address</label>
                    <input asp-for="Input.Email"
                           class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <span asp-validation-for="Input.Email" class="text-red-600 text-sm"></span>
                </div>
                <button type="submit"
                        class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Reset Password
                </button>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
