@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm mt-28">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <section>
            <partial name="_LogoPartial"/>
            <p>
                Please check your email to reset your password.
            </p>
        </section>
    </div>
</div>
