@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm mt-28">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <partial name="_LogoPartial"/>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>