@page
@model ChangePasswordModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <section>
            <partial name="_StatusMessage" for="StatusMessage"/>

            <form id="change-password-form" method="post" class="space-y-6">
                <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
                <div>
                    <label asp-for="Input.OldPassword" class="block text-sm font-medium text-gray-700">Old Password</label>
                    <input asp-for="Input.OldPassword" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <span asp-validation-for="Input.OldPassword" class="text-red-600 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.NewPassword" class="block text-sm font-medium text-gray-700">New Password</label>
                    <input asp-for="Input.NewPassword" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <span asp-validation-for="Input.NewPassword" class="text-red-600 text-sm"></span>
                </div>
                <div>
                    <label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-600 text-sm"></span>
                </div>
                <button type="submit" class="w-full py-2 px-4 bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Update password</button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
