@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <section>
        <partial name="_StatusMessage" for="StatusMessage"/>

        @{
            var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
            @if (consentFeature?.CanTrack ?? true)
            {
                @if (Model.Is2faEnabled)
                {
                    if (Model.RecoveryCodesLeft == 0)
                    {
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <p class="font-medium">You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before
                                you can log in with a recovery code.</p>
                        </div>
                     
                    }
                    else if (Model.RecoveryCodesLeft == 1)
                    {
                            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                <strong>You have 1 recovery code left.</strong>
                                <p class="font-medium">You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                            </div>
                    }
                    else if (Model.RecoveryCodesLeft <= 3)
                    {
                        <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
                            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                            <p class="font-medium">You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                        </div>
                    }

                    if (Model.IsMachineRemembered)
                    {
                        <form method="post" style="display: inline-block">
                            <button type="submit"  class="w-full py-2 px-4 bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                                Forget this browser
                            </button>
                        </form>
                    }

                    <a asp-page="./Disable2fa" class="text-indigo-600 hover:underline">Disable 2FA</a>
                    <a asp-page="./GenerateRecoveryCodes" class="text-indigo-600 hover:underline">Reset recovery codes</a>
                }

                <h4 class="text-3xl font-semibold pb-5">Authenticator app</h4>
                @if (!Model.HasAuthenticator)
                {
                    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="text-indigo-600 hover:underline">Add authenticator
                        app</a>
                }
                else
                {
                    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="w-full py-2 px-4 bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Set up authenticator
                        app</a>
                    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="w-full py-2 px-4 bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Reset authenticator
                        app</a>
                }
            }
            else
            {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <strong>Privacy and cookie policy have not been accepted.</strong>
                        <p class="font-medium">You must accept the policy before you can enable two factor authentication.</p>
                    </div>
            }
        }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
