@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="flex flex-col justify-center items-center mx-auto max-w-screen-sm mt-28">
    <div class="w-full bg-white shadow-md rounded-lg p-6">
        <h1 class="text-red-500 text-2xl pb-3">Error.</h1>
        <h2 class="text-red-500 font-medium">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p class="font-medium">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <h3 class="text-2xl pb-3">Development Mode</h3>
        <p class="font-medium">
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that
            occurred.
        </p>
        <p class="font-medium">
            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in
            sensitive information from exceptions being displayed to end users. For local debugging, development environment can
            be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to
            <strong>Development</strong>, and restarting the application.
        </p>
    </div>
</div>
